@model EcommercePortalClient.Models.Cart

@{
    ViewData["Title"] = "CartNotAdded";
}



<div>
    <h4>The Product is currently out of stock,you can add it to wish list to buy latter</h4>
    <hr />
    @*<dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zipcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zipcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
    </dl>*@

</div>
<div>
    <a class="btn btn-success" asp-action="AddToWishlist" asp-controller="ProceedtoBuy" asp-route-id="@Model.ProductId">Add To Wishlist</a>
</div>
